# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Environment variables file
.env

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store

# Miscellaneous
.nyc_output
coverage/
